@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans');

.editor-writing-flow{
  padding-top: 1rem;
  border: 1px solid #519df3;
}

textarea.editor-post-title__input{
  border: 2px solid #494949 !important;
  margin-bottom: 1rem !important;
}

.wp-block.editor-block-list__block{
  border: 2px solid #494949;
  margin: .5rem auto;
}
