.Slider{
  width: 100%;
  height: auto;
  margin: auto;
  background-color: white;
  margin-bottom: $margen-secciones;
  overflow: hidden;
  position: relative;
  top: -$altura-header;
  // border: 1px solid red;
  @include mq(sH){
    top: $altura-header;
  }
  @include mq(md){
    top: $altura-header;
  }
  @include mq(mdl){
    width: 100vw;
    left: -5vw;
    // border: 2px solid red;
  }
  @include mq(lgs){
    width: 111%;
    top: - $altura-header;
  }
}

.Slider-content{
  display: flex;
  width: 400%;
  &-item{
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    @include mq(sH){
      grid-template-columns: 1fr 1fr;
    }
    @include mq(md){
      grid-template-columns: 1fr 1fr;
    }
    &::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: capa(capa2);
      top: 0;
      left: 0;
      background: $degradado;
      opacity: .8;
      @include mq(sH){
        width: 50%;
        background: $degradadoB;
      }
      @include mq(md){
        width: 50%;
        background: $degradadoB;
        // border: 1px solid red;
      }
      @include mq(lgs){
        width: 100%;
        opacity: .7;
      }
    }
    &-text{
      position: relative;
      z-index: capa(capa2);
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      // justify-self: center;
      // border: 1px solid green;
      padding: 0 1.8rem;
      @include mq(sH){
        padding: 0 0 0 2rem;
      }
      @include mq(mdl){
        // border: 1px solid red;
        padding: 0 0 0 2rem;
      }
      @include mq(lgs){
        // border: 1px solid red;
        justify-self: center;
        padding: 0;
        max-width: 70%;
      }
      & p{
        color: white;
        font-family: $fuente-parrafos;
        font-size: 1.3rem;
        @include mq(sH){
          font-size: 1.2rem;
          width: 90%;
        }
        @include mq(lgs){
          font-size: 1.5rem;
        }
      }
      & p:first-child{
        width: 65%;
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 800;
        letter-spacing: 2px;
        font-family: $fuente-titulos;
        color: color(botones);
        @include mq(sH){
          width: 100%;
          font-size: 1.5rem;
        }
        @include mq(mdl){
          width: 100%;
        }
        @include mq(lgs){
          font-size: 3rem;
        }
      }
    }
    &-img{
      position: relative;
      z-index: capa(capa1);
      grid-column: 1;
      grid-row: 1;
      align-self: center;
      @include mq(sH){
        grid-column: 2;
      }
      @include mq(md){
        grid-column: 2;
        // border: 2px solid green;
      }
      & img{
        display: block;
      }
    }
  }
}

.Prev, .Next{
  position: absolute;
  top: 50%;
  z-index: capa(capa3);
  color: color(bg);
  padding: 10px;
  padding-left: 5px;
  font-size: 1.7rem;
  cursor: pointer;
  transition: color .3s ease;
  @include mq(sH){
    color: color(color-fuente);
  }
  @include mq(md){
    color: color(color-fuente);
  }
  @include mq(mdl){
    top: calc(50% - 1.5rem);
    font-size: 2rem;
    padding-left: 1rem;
  }
  &:hover{
    @include mq(md){
      color: color(botones);
    }
  }
  @include mq(smH){
    top: 40%;
  }
}

.Next{
  padding: 10px;
  padding-right: 5px;
  right: 0;
  @include mq(mdl){
    padding-right: 1rem;
  }
}

.Slider-img-planes{
  @include mq(md){
    // border: 3px solid yellow;
    transform: rotate(270deg);
  }
}

.Slogan{
  margin-bottom: $margen-secciones;
  margin-top: - $altura-header;
  @include mq(sH){
    margin-top: 6rem;
  }
  @include mq(md){
    margin-top: 6rem;
  }
  @include mq(mdl){
    margin-top: 8rem;
  }
}

.Slogan-content{
  width: 95%;
  padding: var(--distancia);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: color(bg);
  box-shadow: $shadow-flat;
  grid-gap: var(--distancia);
  // border: 1px solid red;
  @include mq(mdl){
    width: 100%;
    grid-gap: 1rem;
  }
  @include mq(lgs){
    grid-gap: .5rem;
  }
  &-item{
    align-self: center;
    // border: 1px solid green;
    & img{
      display: block;
      margin: auto;
      max-width: 200px;
    }
    & p{
      @include parrafo-inicio;
      @include mq(md){
        font-size: 1rem;
      }
      @include mq(lgs){
        font-size: 1.3rem;
      }
    }
  }
}

.Servicios, .Tecnologias{
  width: 95%;
  margin: 0 auto $margen-secciones;
  @include mq(mdl){
    width: 100%;
  }
  & h2{
    @include subtitulos;
  }
}

.Servicios-content, .Tecnologias-content{
  // border: 2px solid yellow;
  display: grid;
  grid-gap: var(--distancia);
  @include mq(md){
    grid-template-columns: 1fr 1fr;
  }
}

.Servicios-card, .Tecnologias-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: $shadow-flat;
  background-color: color(bg);
  padding: var(--distancia);
  grid-gap: var(--distancia);
  // border: 1px solid red;
  &-img{
    align-self: center;
    & img{
      display: block;
      margin: auto;
      max-width: 180px;
    }
  }
  &-text{
    @include parrafo-inicio;
    // border: 1px solid red;
    max-width: 200px;
  }
}

.Tecnologias{
  margin-bottom: $margen-secciones;
  &-content{
    @include mq(lgs){
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.Tecnologias-card{
  // border: 2px solid red;
  display: block;
  padding: 1rem;
  @include mq(smH){
    padding: 1.5rem;
  }
  @include mq(smm){
    padding: 1.5rem;
  }
  @include mq(lgs){
    padding: 2rem;
  }
  &-img{
    // border: 2px solid green;
    display: inline;
    & img{
      display: inline;
      width: 90px;
      float: left;
      padding: 0 1rem 0 0;
      // padding: 0;
    }
  }
  &-text{
    display: inline;
    font-size: 1rem;
    padding: 0;
  }
}
